Django==5.2.2
whitenoise==6.9.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
django-tinymce==4.1.0
django-ratelimit==4.1.0
Pillow==11.2.1
python-dotenv==1.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
dj-database-url==3.0.0
mysql-connector-python==8.4.0
psutil==6.1.0
requests==2.31.0