{% extends "accounts/base-fullscreen_auth.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                
                <!-- Icon and Heading -->
                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">Login</h3>

                <!-- Message if there is an error -->
                <div class="mb-4">
                    <span class="text-muted">
                        {% if msg %}
                            <div class="alert alert-danger">{{ msg | safe }}</div>
                        {% else %}
                            Entre com suas credenciais
                        {% endif %}
                    </span>
                </div>

                <!-- Login Form -->
                <form role="form" method="post" action="">
                    {% csrf_token %}

                    <!-- Username Input -->
                    <div class="form-group mb-3">
                        <label for="id_username" class="form-label">Usuário</label>
                        {{ form.username }}
                    </div>

                    <!-- Password Input -->
                    <div class="form-group mb-4">
                        <label for="id_password" class="form-label">Senha</label>
                        {{ form.password }}
                    </div>

                    <!-- Remember Me Checkbox -->
                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="remember" id="remember-me" checked="">
                            <label for="remember-me" class="cr"> Lembrar</label>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4 w-100">Login</button>

                </form>

                <!-- Sign Up Link -->
                <p class="mb-0 text-muted"> Não possui conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
