{% load static %}

<footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">PROJECT RAVENNA</h3>
      <p>When You're Lost In The Darkness, Look For The Light.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename"></strong> <span>All Rights Reserved</span>
          
        </div>
        <div class="credits">
          
          Designed by <a href="#">Yuri M Menezes</a>
        </div>
        
      </div>
      
    </div>
   
  </footer>

  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->

  <script src="{% static 'pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Main JS File -->
  <script src="{% static 'pages/assets/js/main.js' %}"></script>
