{% load static %}

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <!-- colocar a imagem a logo -->
        <img src="{% static 'pages/images/logo/logo.png' %}" alt=""> 
        <h1 class="sitename">PROJECT FIREFLIES</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}" class="active">Home</a></li>
          <li><a href="#about">Sobre nós</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="{% url 'index' %}">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Blog detalhes</a></li>
                </ul>
              </li>
              <li><a href="#">error500</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">error404</a></li>
            </ul>
       
          <li><a href="#contact">contacto</i></a></li>
		  
		  
		  
		  
          {% if user.is_authenticated %}
            
          <button type="submit" class="btn btn-dark" data-bs-toggle="modal" href="#logoutModal"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
            
          {% else %} 
             
          <button type="submit" class="btn btn-dark" data-bs-toggle="modal" href="#loginModal"><i class="fa fa-sign-in" aria-hidden="true"></i></button>  

          {% endif %}   

        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
   
      </nav>

    </div>
  </header>