<!DOCTYPE html>
<html lang="en">

{% include 'includes/parciais/_head.html' %}



<body>

    {% include 'includes/parciais/_nav.html' %}
    


    {% block content %}
    
    {% endblock content %}

    {% include 'includes/parciais/_footer.html' %}
    
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
   
  {% include 'includes/parciais/_scripts.html' %}


</body>





</html>