

{% extends 'includes/base.html' %}

{% load static %}



{% block content %}
  <main class="main">

    <!--Mensagem de erro nos comentrios-->
    {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
    {% endif %}   

    <div class="container">
      <div class="row">

        <div class="col-lg-12">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container" data-aos="fade-up">

              <article class="article">

                <div class="article-content" data-aos="fade-up" data-aos-delay="100">

                  <div class="content">
                    {{ article.content|safe }}
                  </div>  

              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Author Section -->
          <section id="blog-author" class="blog-author section">

            <div class="container" data-aos="fade-up">
              <div class="author-box">
                <div class="row align-items-center">
                  <div class="col-lg-3 col-md-4 text-center">
                    <img src="assets/img/person/person-f-12.webp" class="author-img rounded-circle" alt="" loading="lazy">

                    <div class="author-social-links mt-3">
                      <a href="https://twitter.com/#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://linkedin.com/#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                      <a href="https://github.com/#" class="github"><i class="bi bi-github"></i></a>
                      <a href="https://facebook.com/#" class="facebook"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#" class="instagram"><i class="bi bi-instagram"></i></a>
                    </div>
                  </div>

                  <div class="col-lg-9 col-md-8">
                    <div class="author-content">
                      <h3 class="author-name">Sarah Anderson</h3>
                      <span class="author-title">Senior Tech Writer &amp; Developer Advocate</span>

                      <div class="author-bio mt-3">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Passionate about creating content that bridges the gap between developers and end-users.
                      </div>

                      <div class="author-website mt-3">
                        <a href="#" class="website-link">
                          <i class="bi bi-globe"></i>
                          <span>sarahanderson.dev</span>
                        </a>
                        <a href="#" class="more-posts">
                          Read More from Sarah <i class="bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section><!-- /Blog Author Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

              <div class="blog-comments-3">
                <div class="section-header">
                  <h3>Comentarios<span class="comment-count">({{ comments_count }})</span></h3>
                </div>

                <div class="comments-wrapper">
                  <!-- Comment 1 -->

                    <div class="comment-content">
                        <!-- Exibir comentários -->
                        {% for comment in comments %}
                        <div class="comment">
                            <p><strong>{{ comment.author_name }}</strong> disse:</p>
                            <p>{{ comment.text }}</p>
                            <p><small>{{ comment.created_at|date:"d/m/Y H:i" }}</small></p>
                        </div>
                            {% empty %}
                              <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
                            {% endfor %}
                    </div>

                </div>
              </div>

            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Blog Comment Form Section -->
          <section id="blog-comment-form" class="blog-comment-form section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

          <!-- Formulário de Comentário -->
              {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
              {% endif %}             
              <section id="comment-form">
                <h3>Deixe seu comentário</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit">Enviar Comentário</button>
                </form>
              </section>

            </div>

          </section><!-- /Blog Comment Form Section -->

        </div>

      </div>
    </div>

  </main>

  {% endblock %}   

 <!-- Comentários -->
<section id="comments">
  <h3>Comentários</h3>
  
  <!-- Exibir comentários -->
  {% for comment in comments %}
      <div class="comment">
          <p><strong>{{ comment.author_name }}</strong> disse:</p>
          <p>{{ comment.text }}</p>
          <p><small>{{ comment.created_at|date:"d/m/Y H:i" }}</small></p>
      </div>
  {% empty %}
      <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
  {% endfor %}
</section>

<!-- Formulário de Comentário -->
<section id="comment-form">
  <h3>Deixe seu comentário</h3>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Enviar Comentário</button>
  </form>
</section>


