{% extends 'includes/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Editar Artigo{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main Content -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- Breadcrumb -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/"><i class="feather icon-home"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active">Editar Artigo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Breadcrumb -->

                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- Main Content -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Editar Artigo</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Article Edit Form -->
                                                <form method="POST" enctype="multipart/form-data" id="form">
                                                    {% csrf_token %}
                                                    
                                                    <!-- Form fields with crispy form rendering -->
                                                    {{ form|crispy }}
                                                    
                                                    <button type="submit" class="btn btn-success">Salvar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Main Content -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Main Content -->

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
