<!-- Arquivos JS de terceiros (Vendor JS Files) -->
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/php-email-form/validate.js"></script>
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/aos/aos.js"></script>
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="{{ ASSETS_ROOT }}pages/assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Arquivos JS principais (Main JS Files) -->
<script src="{{ ASSETS_ROOT }}pages/assets/js/main.js"></script>
<script src="{{ ASSETS_ROOT }}articles/assets/js/tinymce/tinymce.min.js"></script>

<!-- Dependências externas -->
<!-- jQuery (use apenas uma versão) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap Bundle (inclui o Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Toastr (para notificações de sucesso, erro, etc) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

<!-- Font Awesome (para ícones) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<!-- Scripts personalizados -->
<script>
    // Função para obter o token CSRF dos cookies
    function getCookie(name) {
        let cookieValue = null;
        // Verifica se existe algum cookie
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Se o cookie for encontrado, retorna o valor decodificado
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');  // Obtém o token CSRF

    // Configura o jQuery para incluir o token CSRF em todas as requisições AJAX
    $.ajaxSetup({
        headers: { 'X-CSRFToken': csrftoken }
    });
</script>

<script>

</script>