<!DOCTYPE html>
<html lang="en">

<head>
    <title>
      FireFlies
    </title>
  
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#"/>
    <meta name="Yuri" content="FireFlies"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{{ ASSETS_ROOT }}accounts/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/css/style.css">
     <!-- dark mode css -->
     <link rel="stylesheet" href="{{ ASSETS_ROOT }}accounts/assets/css/dark.css">
    


</head>
<body>
    
    {% block content %}
    
    {% endblock content %}

    <script src="{{ ASSETS_ROOT }}accounts/assets/js/vendor-all.min.js"></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/js/pcoded.min.js"></script>
    <script src="{{ ASSETS_ROOT }}accounts/assets/js/dark-mode.js"></script>

</body>
</html>
