{% extends "accounts/base-fullscreen_auth.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}   

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-user-plus auth-icon"></i>
                </div>
                <h3 class="mb-4">Sign Up</h3>

                <span class="mb-0 text-muted">
                    {% if msg %}
                        <div class="alert alert-danger">{{ msg | safe }}</div>
                    {% else %}
                        Crie sua conta preenchendo os dados abaixo.
                    {% endif %} 
                </span>

                <br /><br />

                <!-- Show success message and provide a link to login -->
                {% if success %}
                    <a href="{% url 'login' %}" class="btn btn-primary shadow-2 mb-4">Acesse sua conta</a>
                {% else %}

                    <!-- Signup Form -->
                    <form role="form" method="post" action="">
                        {% csrf_token %}

                        <!-- Username Field -->
                        <div class="form-group mb-3">
                            <label for="id_username" class="form-label">Usuário</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Email Field -->
                        <div class="form-group mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Password Field -->
                        <div class="form-group mb-4">
                            <label for="id_password1" class="form-label">Senha</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <div class="text-danger">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Confirm Password Field -->
                        <div class="form-group mb-4">
                            <label for="id_password2" class="form-label">Confirmar Senha</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <div class="text-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Terms Agreement Checkbox -->
                        <div class="form-group text-left mb-3">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="terms" id="checkbox-fill-a1" required>
                                <label for="checkbox-fill-a1" class="cr"> Eu concordo com os <a href="#">Termos e Condições</a></label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4 w-100">Registrar</button>
                    </form>

                    <!-- Redirect to Login -->
                    <p class="mb-0 text-muted">Já possui uma conta? <a href="{% url 'login' %}">Faça Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
