{% load crispy_forms_tags %}

<form id="cliente-form" method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form|crispy }}
    {{ endereco_form|crispy }}
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" id="submit-btn">
        <span id="submit-spinner" class="spinner-border spinner-border-sm me-2 d-none" role="status" aria-hidden="true"></span>
        Salvar
      </button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </form>


