{% extends 'includes/base.html' %}

{% load static %}

{% block title %}Clientes{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main Content -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <img src="{% static 'pages/assets/img/world-dotted-map.png' %}" alt="World Dotted Map" class="hero-bg" data-aos="fade-in">
            
            <div class="container">
                <div class="row gy-4 d-flex justify-content-between">

                    <!-- Search Form -->
                    <form action="{% url 'clientes:search' %}" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                        <input type="text" class="form-control" placeholder="Buscar cliente..." name="search" value="{{ request.GET.search }}">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </form>

                    <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out"></div>
                </div>
            </div>
        </section>
        <!-- /Hero Section -->

        <!-- Clientes Section -->
        <section id="clientes-hero" class="clientes-hero section">
            <div class="container">
                <div class="clientes-grid">
                    <!-- Loop through Clientes -->
                    {% for cliente in clientes %}
                    <article class="cliente-item" data-aos="fade-up" data-aos-delay="10">
                        <h3 class="post-title">
                            <a href="{% url 'clientes:cliente-details' cliente.slug %}" title="Veja mais sobre {{ cliente.nome }}">{{ cliente.nome }}</a>
                        </h3>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- /Clientes Section -->

    </div>
</div>
<!-- /Main Content -->

{% endblock content %}